<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="borrar-redes.css">
        <%= javascript_include_tag 'NetworkServer' %>
        <title>Network Server</title>
    </head>
    <body>
        <header>
            <h1>Network Server</h1>

            <div id="menu">
                <%= link_to t("Inicio"), "/inicio"%>
                <%= link_to t("Borrar Redes"), "/borrar-redes"%>
            </div>
        </header>

        <main>

        </main>
	</body>
</html>